@font-face {
  font-family: 'SarasaGothicSC';
  src: url('/fonts/SarasaGothicSC-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SarasaGothicSC';
  src: url('/fonts/SarasaGothicSC-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SarasaGothicSC';
  src: url('/fonts/SarasaGothicSC-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SarasaGothicSC';
  src: url('/fonts/SarasaGothicSC-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
